.chat-panel {
    position: fixed;
    padding-top: $toolbar-height;
    left: calc(100% - 68px);
    width: 68px;
    z-index: 500;
    background-color: #fff;
    // overflow-y: hidden;

    // &:hover {
    //     overflow-y: auto;
    // }

    // &::-webkit-scrollbar {
    //     width: 5px;
    //     background-color: #fff;

    //     &:hover {
    //         background-color: rgba(100, 100, 100, 0.26);
    //     }
    // }

    // &::-webkit-scrollbar-thumb {
    //     height: 8px;
    //     border-radius: 10px;
    //     background-color: rgba(100, 100, 100, 0.376);
    //     box-shadow: 0 0 1px rgba(255,255,255,0.5);

    //     &:hover {
    //         background-color: rgba(100, 100, 100, 0.699);
    //     }
    // }

    li {
        width: 100%;

        .chat-avatar-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 0;
            cursor: pointer;
            position: relative;

            &:hover {
                background: $outline-color;
                border-radius: 16px;
            }

            .chat-avatar {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }

            .name {
                position: absolute;
                left: -100px;
                top: 17px;
                min-width: 80px;
                padding: 3px;
                font-size: .7rem;
                font-weight: 700;
                text-align: center;
                color: rgb(226, 226, 226);
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 7px;
            }

            .unread {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .8rem;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 5px;
                left: 12px;
                background-color: #22d3ee;
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 35%);
                border-radius: 8px;
            }

            .status {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .8rem;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 35px;
                left: 44px;
                border: 2px solid #f6f7f9;
                border-radius: 8px;
            }

            .online {
                background-color: #4CAF50;
            }

            .do-not-disturb {
                background-color: #F44336;
            }

            .offline {
                background-color: #646464;
            }
        }
    }

    .delimiter {
        width: 30px;
        padding-top: 1px;
        margin: 5px 0;
        background-color: rgba(0, 0, 0, 0.12);
    }
}