.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 18px;
    cursor: pointer;

    &:hover {
        background-color: $outline-color;
    }

    &:last-child {
        margin-right: 0px;
    }
}

.icon-img {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.icon-calendar {
    background-image: url("img/icons/calendar.png");
}

.icon-list {
    background-image: url("img/icons/list.png");
}

.icon-bell {
    background-image: url("img/icons/bell.png");
}

.icon-search {
    background-image: url("img/icons/search.png");
}

.icon-font {
    background-image: url("img/icons/font.png");
}

.icon-star {
    background-image: url("img/icons/star.png");
}

.icon-todolist {
    background-image: url("img/icons/to-do-list.png");
}

.icon-contact-book {
    background-image: url("img/icons/contact-book.png");
}

.icon-mail {
    background-image: url("img/icons/mail.png");
}

.icon-fullscreen {
    background-image: url("img/icons/fullscreen.png");
}

.icon-bookmark {
    background-image: url("img/icons/bookmark.png");
}

.icon-login {
    background-image: url("img/icons/enter.png");
}

.icon-register {
    background-image: url("img/icons/edit.png");
}

.icon-more {
    background-image: url("img/icons/more.png");
}

.icon-location {
    background-image: url("img/icons/location.png");
}

.icon-rain {
    background-image: url("img/icons/rain.png");
}

.icon-water {
    background-image: url("img/icons/water.png");
}

.icon-wind {
    background-image: url("img/icons/wind.png");
}

.icon-cloud {
    background-image: url("img/icons/cloud.png");
}

.icon-compass {
    background-image: url("img/icons/compass.png");
}