.main {
    padding-top: 15px;

    .navigation ul {
        justify-content: left;

        .navigation-item {
            padding: 6px 16px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.616);
            border-radius: 15px;
            cursor: pointer;

            &.active {
                color: rgba(0, 0, 0, 0.87);
                background-color: rgba(0, 0, 0, 0.12);
                cursor: default;
            }
        }
    }

    .widgets {
        padding: 12px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
        margin: 0 -16px;
    }

    .widget-wrapper {
        padding: 16px;
    }

    .widget-container {
        background-color: #fff;
        padding: 12px;
        border-radius: 12px;
        box-shadow: 0px 5px 19px 1px #28282850;
    }

    .widget-header {
        width: 100%;
        justify-content: space-between;

        .title {
            font-weight: 500;
        }

        .widget-select {
            select {
                display: block;
                padding: 8px 24px 8px 0px;
                font-weight: 600;
                border: 0px solid;
            }
        }

        .options {
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }

    .widget-content {
        font-size: 1.3rem;
        padding: 12px 0;
    }

    .value {
        font-size: 72px;
        font-weight: 600;
    }

    .widget-footer {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .main-graph {
        width: 50%;
        padding: 12px;

        img {
            width: 100%;
        }
    }

    .graph-grid {
        padding: 12px;
        width: 50%;

        .graph-grid-item {
            width: 50%;

            img {
                width: 95%;
            }
        }
    }
}