.main {
    padding-top: 15px;

    .main-navigation ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: left;
        align-items: center;

        .main-navigation-item {
            padding: 6px 16px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.616);
            border-radius: 15px;
            cursor: pointer;

            &.active {
                color: rgba(0, 0, 0, 0.87);
                background-color: rgba(0, 0, 0, 0.12);
                cursor: default;
            }
        }
    }

    .widgets {
        padding: 8px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
        margin: 0 -16px;

        li {
            padding: 16px;
        }

        .widget {
            height: 230px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 12px;
            border-radius: 12px;
            box-shadow: 0px 5px 19px 1px #28282850;

            .widget-header {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                opacity: .7;
                font-weight: 500;

                .options {
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.04);
                    }
                }
            }

            .widget-content {
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;

                .value {
                    font-size: 72px;
                    font-weight: 600;
                }
            }

            .widget-footer {
                font-size: 1.1rem;
                font-weight: 500;
                opacity: .7;
            }
        }
    }
}