$base-font-size: 14px;
$outline-color: rgba(0, 0, 0, 0.04);
$toolbar-height: 61px;
$shadow: 0px 0px 5px 1px #7070704f;
$main-bgcolor: #f6f7f9;
$chat-panel-width: 68px;
$border: 1px solid rgba(0, 0, 0, 0.12);
$header-background: linear-gradient(to right, #252f3e 0%, #1b2330 100%);