/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.toolbar-wrapper {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.toolbar-wrapper .toolbar {
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 4.3rem;
  box-shadow: 0px 0px 5px 1px #7070704f;
}
.toolbar-wrapper .toolbar-item-group {
  justify-content: left;
  padding: 0 16px;
}
.toolbar-wrapper .toolbar-item-group .icon-label {
  display: block;
  position: absolute;
  left: -50%;
  top: 3.655rem;
  min-width: 80px;
  padding: 3px;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  color: #e2e2e2;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
}
.toolbar-wrapper .toolbar-item-group .user-info {
  position: relative;
  padding: 6px 16px;
  border-radius: 17px;
  cursor: pointer;
  font-size: 0.9rem;
}
.toolbar-wrapper .toolbar-item-group .user-info:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.toolbar-wrapper .toolbar-item-group .user-info .user-info-main {
  padding-right: 15px;
  align-items: flex-end;
}
.toolbar-wrapper .toolbar-item-group .user-info .user-info-main .user-info-header {
  font-weight: 700;
}
.toolbar-wrapper .toolbar-item-group .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.toolbar-wrapper .toolbar-item-group .user-info .login-menu {
  width: 100%;
  padding: 8px 0;
  position: absolute;
  left: 0;
  top: 3.655rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px #7070704f;
}
.toolbar-wrapper .toolbar-item-group .user-info .login-menu .login-menu-button {
  justify-content: left;
  padding: 6px 16px;
  cursor: pointer;
  width: 100%;
}
.toolbar-wrapper .toolbar-item-group .user-info .login-menu .login-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.toolbar-wrapper .toolbar-item-group .user-info .login-menu .login-menu-button .button-img {
  margin-right: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 18px;
  cursor: pointer;
}
.icon:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.icon:last-child {
  margin-right: 0px;
}

.icon-img {
  width: 20px;
  height: 20px;
  background-size: cover;
}

.icon-calendar {
  background-image: url("img/icons/calendar.png");
}

.icon-list {
  background-image: url("img/icons/list.png");
}

.icon-bell {
  background-image: url("img/icons/bell.png");
}

.icon-search {
  background-image: url("img/icons/search.png");
}

.icon-font {
  background-image: url("img/icons/font.png");
}

.icon-star {
  background-image: url("img/icons/star.png");
}

.icon-todolist {
  background-image: url("img/icons/to-do-list.png");
}

.icon-contact-book {
  background-image: url("img/icons/contact-book.png");
}

.icon-mail {
  background-image: url("img/icons/mail.png");
}

.icon-fullscreen {
  background-image: url("img/icons/fullscreen.png");
}

.icon-bookmark {
  background-image: url("img/icons/bookmark.png");
}

.icon-login {
  background-image: url("img/icons/enter.png");
}

.icon-register {
  background-image: url("img/icons/edit.png");
}

.icon-more {
  background-image: url("img/icons/more.png");
}

.icon-location {
  background-image: url("img/icons/location.png");
}

.icon-rain {
  background-image: url("img/icons/rain.png");
}

.icon-water {
  background-image: url("img/icons/water.png");
}

.icon-wind {
  background-image: url("img/icons/wind.png");
}

.icon-cloud {
  background-image: url("img/icons/cloud.png");
}

.icon-compass {
  background-image: url("img/icons/compass.png");
}

.header-wrapper {
  padding-top: 4.3rem;
  background: linear-gradient(to right, #252f3e 0%, #1b2330 100%);
  margin-right: 12px;
  border-bottom-right-radius: 20px;
  background-size: cover;
  background-color: #1b2330;
}

.header {
  color: #fff;
  padding-top: 24px;
}
.header .greeting {
  justify-content: left;
  margin-bottom: 30px;
}
.header .greeting .greeting-main {
  margin: 0 12px;
}
.header .greeting .greeting-main .greeting-main-header {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 6px;
}
.header .greeting .greeting-main .notifications-info {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
}
.header .greeting .greeting-main .notifications-info .icon-bell {
  margin-right: 10px;
}
.header .greeting img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.header .header-panel {
  justify-content: left;
  position: relative;
}
.header .header-panel .header-caption {
  width: 260px;
  font-size: 1.1rem;
  padding: 0 16px;
  height: 40px;
  background: #313944;
  border-top-left-radius: 10px;
}
.header .header-panel .header-button {
  background: #313944;
  width: 40px;
  height: 40px;
  margin-left: 2px;
  border-top-right-radius: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding-bottom: 20px;
}
.header .header-panel .header-button:hover {
  background-color: rgba(194, 194, 194, 0.575);
}
.header .header-panel .header-menu {
  position: absolute;
  left: 261px;
  top: -3px;
  padding: 5px 0;
  background-color: #1b1b1b;
  border-radius: 8px;
  z-index: 100;
}
.header .header-panel .header-menu li {
  font-size: 1rem;
  padding: 6px 16px;
  cursor: pointer;
}
.header .header-panel .header-menu li:hover {
  background: rgba(90, 90, 90, 0.692);
}

.main {
  padding-top: 15px;
}
.main .navigation ul {
  justify-content: left;
}
.main .navigation ul .navigation-item {
  padding: 6px 16px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}
.main .navigation ul .navigation-item.active {
  color: #000;
  background-color: rgba(0, 0, 0, 0.12);
  cursor: default;
}
.main .widgets {
  width: 80%;
  padding: 16px 0;
  margin: 0 -16px;
}
.main .widget-wrapper {
  display: flex;
  min-width: 20%;
  padding: 12px;
}
.main .widget-container {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 1px #7070704f;
}
.main .widget-header {
  padding: 12px;
  width: 100%;
  justify-content: space-between;
}
.main .widget-header .title {
  font-weight: 500;
}
.main .widget-header .select select {
  display: block;
  padding: 8px 24px 8px 0px;
  font-size: 0.9rem;
  font-weight: 600;
  border: 0;
}
.main .widget-content {
  font-size: 1.3rem;
  padding: 12px 0;
}
.main .value {
  font-size: 72px;
  font-weight: 600;
}
.main .widget-footer {
  font-size: 0.9rem;
  font-weight: 500;
}
.main .main-graph {
  width: 50%;
  padding: 12px;
}
.main .main-graph img {
  width: 100%;
}
.main .graph-grid {
  padding: 12px;
  width: 50%;
}
.main .graph-grid .graph-grid-item {
  width: 50%;
}
.main .graph-grid .graph-grid-item img {
  width: 95%;
}
.main .pie-widget-graph img {
  width: 100%;
}
.main .pie-widget-footer {
  width: 100%;
  padding: 8px;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.main .pie-widget-footer > div {
  padding: 16px 0;
  width: 50%;
}
.main .pie-widget-footer > div .value {
  font-size: 30px;
  font-weight: 500;
}
.main .pie-widget-footer > div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.main .weather {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.main .weather .weather-main {
  padding: 20px;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.main .weather .weather-main .icon-rain {
  width: 40px;
  height: 40px;
}
.main .weather .additional-info {
  width: 100%;
  font-size: 0.8em;
  padding: 8px 16px;
  justify-content: space-between;
}
.main .weather .additional-info .icon {
  width: 15px;
  height: 15px;
}
.main .year {
  font-weight: 700;
  padding-bottom: 20px;
}
.main .item-list {
  width: 100%;
}
.main .item-list .list-item {
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  margin-bottom: 10px;
}
.main .item-list .list-item:last-child {
  margin: 0;
}
.main .item-list .list-item > div:first-child {
  align-items: flex-start;
}
.main .item-list .list-item .item-title {
  font-size: 0.9em;
  font-weight: 500;
}
.main .item-list .list-item .item-subtitle {
  font-size: 0.7em;
}

.widgets-section {
  display: flex;
  flex-direction: row;
  position: relative;
}
.widgets-section .widgets-column {
  padding-top: 24px;
  position: absolute;
  top: -215px;
  left: 80%;
  width: 20%;
  z-index: 20;
  background-color: #f6f7f9;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

body {
  line-height: 1.2;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
}

.main-app {
  position: relative;
}

.main-wrapper {
  background-color: #f6f7f9;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.transparent {
  opacity: 0.7;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quater-width {
  width: 25%;
}

@media (max-width: 1600px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 95%;
  }

  .widgets-column {
    display: none;
  }

  .main .widgets {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  .quater-width {
    width: 50%;
  }

  .half-width {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
